[submodule "ecosystem-modules/stable-asset"]
	path = ecosystem-modules/stable-asset
	url = https://github.com/nutsfinance/stable-asset.git
[submodule "open-runtime-module-library"]
	path = open-runtime-module-library
	url = https://github.com/redstone-network/open-runtime-module-library.git
	branch = polkadot-v0.9.24-asset-safe
